/* means for all */
/*means reset*/
/**{
	margin: 0px;
	padding: 0px;
}*/




#h1_3{
	color: blue;
}

/*
a { background-color: yellow;  }

a --> selector (tagname, class, id)
{ --> declaration start
} --> declaration end
background-color --> property
: --> property/value separator
; --> declaation separator
*/

body{
	background-color: #f4f4f4;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/* same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;

}

a{
	text-decoration:none;
	color: black;
}

a:hover{
	color: red;
}

a:active{
	color: green;
}
/*
a:visited{
	color: #000;
}*/
.container{
	/*  px -> not responsive
		% -> responsive
	*/
	width: 80%;
	margin: auto;
}

.button{
	background-color: #444;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: red;
	color: #fff;
}

.box-1{
	background-color: #333;
	color: #fff;

	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;
	border: 5px red solid;

	padding: 20px;
	margin: 20px 0;
}

.clr{
	clear: both;
}
/*
color can be :
1) color names --> color: red;
						or
				   color: coral;
2) hex --> color: #f0ff00;
3) rgb --> color: rgb(0,0,255);
*/


/*
margin, border, padding

from content goes
1) padding
2) border
3) margin

directions -> top, right, bottom, left
*/

/*
margin & padding shorthand
1) long way
p{
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}
same as
p{
			top right bottom left
	margin: 5px 10px 5px 10px;
}
same as
p{ 			top & bottom left & right
	margin: 5px 10px
}
*/


.box-1 h1{
	font-family: Tahoma;
	font-weight: 600;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 1em;
}

.box-2{
	border: 3px dotted #bbb;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	margin: 20px 0;
	border: 3px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0
	padding-left: 20px;
	list-style: none;
}

.categories li{
	padding-bottom: 4px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type='text'], .my-form textarea{
	padding: 8px;
	width: 100%
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 70%;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: white;
	padding: 15px;
	box-sizing: border-box;
}

.p-box{
	width: 600px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url('../images/background_1.jpg');
	background-repeat: no-repeat;
	background-position: 100px 200px;
	background-position: center top;
}


.p-box h1{
	position: absolute;
	top: 40px;
	left: 200px;
}

.p-box h2{
	position: absolute;
	bottom: 40px;
	right: 100px;
}

.fix-me{
	position: fixed;
	top: 400px;
}

.my-list li:first-child{
	background: red;
}

.my-list li:last-child{
	background: blue;
}

.my-list li:nth-child(5){
	background: yellow;
}

.my-list li:nth-child(even){
	background: grey;
}